.image1Parent {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.image1Parent:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url(./suitcase-pink.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.image2Parent {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.image2Parent:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url(./family-kids.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
