#content {
    overflow: visible;
    margin : 0em;
}

#bodyContent {
    font-family :  "Lucida Grande", "Lucida Sans Unicode", Calibri, Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
    text-align: justify; 
    text-justify: newspaper;
    width : 100%;
    float : right;
}

#mw-panel {
    display:none;
}
#wlm-banner {
    display:none;
}


